@value acuoAction from '../../static/css-components/colors.css';

#componentId .toolTip{visibility: hidden}
#componentId:hover .toolTip{visibility: visible;}

.toolTip text{
  text-anchor: right;
}

.graphWrapper{
  padding-bottom: 10px;
}

.graphCont {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  width: 100%;
  height: 490px;
  padding-bottom: 10px;
}

.moneyIcon {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  width: 35px;

  background-color: #D5DADF;
  color: #353535;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
  /* To resolve bug where the drop-down options are covered */
  /*z-index: 50;*/
  composes: baseFontBold from './../../static/css-components/fonts.css';
  text-align: center;
}

.moneyOut{
 margin-bottom: 10px;
}
.moneyIn{
 /*margin-top: 10px;*/
}

/*@media screen\0 and (min-width: 768px) {*/
  /*.svgGraph {*/
    /*max-height: 245px;*/
    /*max-width: 768px;*/
  /*}*/
/*}*/

/*@media screen\0 and (min-width: 1024px) {*/
  /*.svgGraph {*/
    /*max-height: 328px;*/
    /*max-width: 1024px*/
  /*}*/
/*}*/

/*@media screen\0 and (min-width: 1440px) {*/
  /*.svgGraph {*/
    /*max-height: 460px;*/
    /*max-width: 1440px*/
  /*}*/
/*}*/
