@value acuoAction from '../../static/css-components/colors.css';

#componentId .toolTip{visibility: hidden}
#componentId:hover .toolTip{visibility: visible;}

.toolTip text{
  text-anchor: right;
}

.graphWrapper{
  padding-bottom: 10px;
  position: relative;
}

.graphCont {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  width: 100%;
  height: 490px;
  padding-bottom: 10px;
}

.graphCont::-webkit-scrollbar {
  display: none;
}

.moneyIcon {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  width: 35px;

  background-color: #D5DADF;
  color: #353535;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
  composes: baseFontBold from './../../static/css-components/fonts.css';
  text-align: center;
}

.moneyOut{
 margin-bottom: 10px;
}

/* for currency sslector **/
.currencySelector {

  padding: 10px 25px 10px 10px;
  margin-left: 10px;
  border-radius: 8px;
  width: 35px;

  background-color: #fff;
  /*color: #353535;*/
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
  composes: baseFontBold from './../../static/css-components/fonts.css';
  text-align: center;

  color: #4A90e2;
  position: absolute;
  top: 5px;
  right: 10px;
  /*width: 50px;*/
  /*text-align: left;*/
  cursor: pointer;
  /*padding-right: 25px;*/
}

.currencySelector:hover {
  text-decoration: underline;
}

.list {
  display: none;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  cursor: default;
  margin: 0;
  outline: none;
  padding: 3px 0;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 100;
}

.list.show{
  display: inline-block;
}

.listItem {
  margin: 0;
  padding: 3px 2em 3px 20px;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
  color: #494949;
}

.listItem:hover {
  background-color: #eee;
}

.arrow::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #4A90e2 transparent transparent transparent;
  position: absolute;
  top: 15px;
  right: 6px;
}

.arrow::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 12px;
  right: 6px;
}