@value acuoAction from '../../static/css-components/colors.css';

#componentId .toolTip{visibility: hidden}
#componentId:hover .toolTip{visibility: visible;}

.toolTip text{
  text-anchor: right;
}

.graphCont {
  position: relative;
}

.moneyIcon {
  padding: 10px;
  background-color: #D5DADF;
  color: #353535;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
  border-radius: 8px;
  position: absolute;
  /* To resolve bug where the drop-down options are covered */
  /*z-index: 50;*/
  composes: baseFontBold from './../../static/css-components/fonts.css';
  width: 35px;
  text-align: center;
}

.moneyOutIcon {
  top: 15px;
  left: 15px;
}

.moneyInIcon {
  bottom: 15px;
  left: 15px;
}

@media screen and (min-width: 768px) {
  .svgGraph {
    min-height: 245px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .svgGraph {
    min-height: 328px;
    min-width: 1024px
  }
}

@media screen and (min-width: 1440px) {
  .svgGraph {
    min-height: 460px;
    min-width: 1440px
  }
}