.flightItemComponent {
  background-color: #FFFFFF;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  padding: 1%;

  height: 400px;

  overflow-y: hidden;
  max-height: 600px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}

.flightTitle {
  display: flex;
}

.flightTitleText {
  font-size: 24px;
  composes: baseFontBold from '../../../static/css-components/fonts.css';
  line-height: 29px;
  color: #4EB5B4;
  align-self: center;
}

.flightTitleText_arr {
  color: #4E83B5;
}

.headerContainer {
  display: flex;
}

.headerDates {
  flex: 3;
}

.headerSearch {
  flex: 2;
  height: 25px;
  font-size: 14px;
}

.iconStyle {
  height: 29px;
  margin-left: 8px;
}
