.flightItemTableWindow{
 overflow-y: auto;
 overflow-x: hidden;
 height: calc(100% - 65px);
 width: 100%;
 margin-top: 5px;
 display: flex;
 flex-direction: row;
 flex: 1 0 auto;
 -ms-overflow-style:
 -ms-autohiding-scrollbar;
 -ms-overflow-style: none;
 -moz-scrollbars-vertical: hidden;
}

.flightItemTableWindow::-webkit-scrollbar {
  display: none;
}

.flightItemTable {
  display: table;
  margin-top: 5px;
  table-layout: fixed;
  width: 100%;
}

.flightItemTableHeader {
  display: table-row;
  background-color: #2B3C4C;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 25px;
  composes: baseFontBold from '../../../static/css-components/fonts.css';
  width: 100%;
}

/* Time */
.flightItemTableHeader div:nth-child(1) {
  width: 6%;
}

/* Agreement */
.flightItemTableHeader div:nth-child(2) {
  width: 26%;
}

/* From */
.flightItemTableHeader div:nth-child(3) {
  width: 16%;
}

/* To */
.flightItemTableHeader div:nth-child(4) {
  width: 16%;
}

/* Value */
.flightItemTableHeader div:nth-child(5) {
  width: 12%;
}

/* CCY */
.flightItemTableHeader div:nth-child(6) {
  width: 5%
}

/* haircut */
.flightItemTableHeader div:nth-child(7) {
  width: 6%
}

/* Status */
.flightItemTableHeader div:nth-child(8) {
  width: 10%;
}

/* PlusMinus */
.flightItemTableHeader div:nth-child(9) {
  width: 3%;
}

.flightItemTableRowGroup {
  display: table-row-group;
}

.flightItemTableExpandRow {
  display: table-row;
  font-size: 13px;
  line-height: 16px;
  background-color: #7F8A93;
  color: #FFFFFF;
}

.flightItemTableRow {
  display: table-row;
  font-size: 13px;
  line-height: 16px;
}

.flightItemTableRow:nth-child(odd) {
  background-color: #FAFAFA;
}

.flightItemTableRow:nth-child(even) {
  background-color: #EBF5FF;
}

.flightItemTableCell {
  display: table-cell;
  padding: 4px;
  vertical-align: middle;
  /*border-top: 1px solid #FFFFFF;*/
}

.flightItemTableRow:last-child .flightItemTableCell {
  border-bottom: 1px solid #FFFFFF;
}

/* border for cells on the expand row*/
.flightItemTableExpandRow .flightItemTableCell {
  /*border-top: 2px solid #FFFFFF;*/
}

.flightStatus {
  width: 70px;
  text-align: center;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 5px
}

.flightStatusBlue {
  background-color: #0170B0;

}

.flightStatusRed {
  background-color: #B00118;
}

.flightStatusGrey {
  background-color: #4E4E4E;
}

.flightStatusGreen {
  background-color: #3D566D;
}

.imageCursor {
  cursor: pointer;
  vertical-align: bottom;
}

.secondRow {
  color: #7b7b7b;
  font-style: italic;
}

/* spacer to replace irregular border */
.spacer {
  height: 2px;
}

/* animations */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}