@value newAcuoBlue from '../../static/css-components/colors.css';
@value acuoGrey from '../../static/css-components/colors.css';

.panel {
  position: relative;
  margin: 10px 0 25px 0;
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px 0 #c9c9c9;
  box-shadow: 2px 2px 4px 0 #c9c9c9;
}

.panelTitle {
  composes: baseFontBold from '../../static/css-components/fonts.css';
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: newAcuoBlue;
  margin-left: 10px;
}

.subtitle{
  color: acuoGrey;
  font-size: 10px;
}

.columnContainer{
  display: flex;
}

.leftColumn {
  flex: 1;
  border-right: 1px solid acuoGrey;
  padding: 0 15px;
}
.rightColumn {
  flex: 2;
  padding: 0 15px;

}

.callTitle{
  font-size: 20px;
  composes: baseFontBold from '../../static/css-components/fonts.css';
  padding: 15px 0;
  color: newAcuoBlue;
  text-transform: uppercase;
}

/* group component */
.group{
  border-bottom: 1px solid acuoGrey;
}