.createContent {
    flex: 1;
    padding: 50px 25px 16px;
    display: flex;
    flex-direction: column;
}

.createContentFlexTwo {
    composes: createContent;
    flex: 2;
}

.createContent > .rowGroup {
    display: block;
}

.rowGroup > .line {
    margin: 10px 0;
}

.line > .dropDown {
    width: 250px;
}

.line > .inputTextBox {
    width: 250px;
    height: 25px;
    border: 1px solid #979797;
    font-size: 13px;
    line-height: 16px;
}

.btnStyleActive {
    composes: agreementBtnStyle from '../../../static/commonStyles/common.css';
    /* Clear margin */
    margin: 0;
}

.btnStyleInactive {
    composes: agreementBtnStyleDisabled from '../../../static/commonStyles/common.css';
    /* Clear margin */
    margin: 0;
}

.flexLine {
    display: flex;
    align-items: center;
}

.agreementsSectionContainer {
    display: flex;
    flex-direction: row;
}

.agreementsSectionHeader {
    composes: baseFontBold from '../../../static/css-components/fonts.css';
    color: #4A4A4A;
}

.agreementsSectionLeft {
    flex: 1;
    margin-right: 10px;
}

.agreementsSectionRight {
    flex: 1;
    margin-left: 10px;
}

.downArrow,
.upArrow {
    position: relative;
    margin-left: 8px;
    cursor: pointer;
}

.downArrow::before {
    content: '';
    position: absolute;
    border-top: 12px solid #4A4A4A;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.downArrow::after {
    content: '';
    position: absolute;
    border-top: 12px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -3px
}

.upArrow::before {
    content: '';
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 12px solid #4A4A4A;
}

.upArrow::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #FFFFFF;
    top: 6px
}