.compContainer {
    margin: 2% 2%;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
}

.compTitle {
    font-size: 24px;
    composes: baseFontBold from '../css-components/fonts.css';
    line-height: 29px;
    color: #6389AD;
}

.agreementBtnStyle{
    width: 93px;
    height: 32px;
    background-color: #FAFAFA;
    border: 1px solid #979797;
    border-radius: 20px;
    font-size: 13px;
    composes: baseFontBold from '../css-components/fonts.css';
    line-height: 16px;
    color: #4A4A4A;
    margin: 0 10px;
    cursor: pointer;
}

.agreementBtnStyleDisabled {
    composes: agreementBtnStyle;
    border: 1px solid #D5DADF;
    color: #D5DADF;
}

.tableHeader {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    composes: baseFontBold from '../css-components/fonts.css';
    background-color: #2B3C4C;
}

.tableRow {
    font-size: 13px;
    line-height: 16px;
    color: #272727;
}

.popupContainer {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}