.assetsPanelFrame{
  background-color: #FFFFFF ;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
  border: 1px solid #EEEEEE ;
  border-radius: 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  max-height: 518px;

  -webkit-transition: max-height 0.3s; /* For Safari 3.1 to 6.0 */
  transition: max-height 0.3s;

}
.assetsPanelFrameExpandedVertically{
  background-color: #FFFFFF ;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
  border: 1px solid #EEEEEE ;
  border-radius: 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  -webkit-transition: max-height 1s; /* For Safari 3.1 to 6.0 */
  transition: max-height 1s;
  max-height: 5000px;
}

.assetsPanelHeader{
   display: flex;
   flex-direction: row;
   flex-shrink: 0;
   height: 31px;

   margin-bottom: 1em;
}

.assetsPanelTitleText{
  font-size: 24px;
  composes: baseFontBold from '../../../static/css-components/fonts.css';
  line-height: 29px;
  color: #4E83B5;
  align-self: center;
  flex: 10 0 auto
}

.assetsPanelHeaderInput{
  flex: 2 0 auto;
  height: 25px;
  margin-right: 1em;
  font-size: 14px;
}

.assetsPanelHeaderSideExpandBtn{
 height: 24px;
 width: 24px;
 align-self: center;
}

.assetsPanelHeaderSideExpandBtn:hover{
  cursor: pointer
}

.assetsPanelHeaderSideExpandBtn:active{
 height: 25px;
 width: 25px;
}

.panelResizeHandle{
  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  margin-top: 10px;
  height: 24px;
  width: 100%;

  background-color: #2b3c4c;
  color: white;
}

.panelResizeHandle:hover{
 cursor: pointer;
}
.panelResizeHandle:active{
 cursor: grabbing;
 background-color: red;
}
