.assetsPanelFrame{
  background-color: #FFFFFF;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
  border-radius: 8px;
  margin: 0% 2%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  height: 518px;
}
.assetsPanelFrameExpanded{
  background-color: #FFFFFF;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
  border-radius: 8px;
  margin: 0% 2%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

}

.assetsPanelTitle{
   display: flex;
}

.assetsPanelTitleText{
  font-size: 24px;
  composes: baseFontBold from '../../../static/css-components/fonts.css';
  line-height: 29px;
  color: #4E83B5;
  align-self: center;
}

.panelResizeHandle{
  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;

  margin-top: 10px;
  height: 15px;
  width: 100%;

  background-color: #2b3c4c;
  color: white;
}

.panelResizeHandle:hover{
 cursor: grab;
}
.panelResizeHandle:active{
 cursor: grabbing;
 background-color: red;
}


/*.panelResizeHandle{
  position:absolute;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  height: 15px;
  width: 98%;

  background-color: #2b3c4c;
  color: white;
}

.panelResizeHandle:hover{
 cursor: grab;
}
.panelResizeHandle:active{
 cursor: grabbing;
 background-color: red;
}*/
