@font-face {
  font-family: 'baseFont';
  src: url('/fonts/Montserrat-Regular.ttf'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'baseFontBold';
  src: url('/fonts/Montserrat-Bold.ttf'); /* Safari, Android, iOS */
}

.baseFont {
  font-family: 'Helvetica', 'Arial';
}

.baseFontBold{
  font-family: 'Helvetica', 'Arial';
  font-weight: bold;
}