@value acuoGrey from './../../static/css-components/colors.css';

.pledgeContainer {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.secDivider {
  display: block;
  width: 100%;
  clear: both;
}

.panel {
  position: relative;
  margin: 10px 0 25px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px 0 #c9c9c9;
  box-shadow: 2px 2px 4px 0 #c9c9c9;
}

.panelTitle {
  composes: baseFontBold from './../../static/css-components/fonts.css';
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #6389ad;
  position: relative;
  display: flex;
}

.panelTitle img {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

#optSetting {
  /*display: inline-block;*/
  /*width: 600px;*/
  /*height: 345px;*/
  margin: 20px 20px 30px 20px;
  flex: 1;
}

#optSetting .panelTitle {
  font-size: 24px;
  line-height: 29px;
}

#optSetting .optPnlWrap {

}

#optSetting .optPnlWrap .optItem {
  display: flex;
  /*min-width: 500px;*/
  width: 100%;
  /*height: 40px;*/
  /*margin: 20px 0;*/
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

#optSetting .optPnlWrap .optItem .optItemName {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-size: 15px;
  line-height: 16px;
  color: #4A4A4A;
  vertical-align: middle;
  flex: 1;
  flex-grow: 2;
  margin-top: 6px;
  text-transform: capitalize;
}

#optSetting .optPnlWrap .optItem .optItemSlider {
  /*width: 450px;*/
  top: -1px;
  vertical-align: middle;
  flex-grow: 5;
}

#optSetting .optPnlWrap .optItem .dragValue {
  flex-grow: 1;
  align-self: flex-end;
}

.flexContainer{
  display: flex;
  flex-grow: 5;
  /*align-items: center;*/
  justify-content: center;
}

.valueBox{
  width: 30px;
  border: 1px solid acuoGrey;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  text-align: center;
}

input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  position: relative;
  z-index: 5;
  border: 0px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #9b9b9b;
  border-radius: 20px;
}

input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 5.5px;
  background: #2B3C4C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9b9b9b;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  background: #9b9b9b;
  border-radius: 20px;
  -moz-appearance: none;
  border: 0px;
}

input[type=range]::-moz-range-progress {
  background-color: #2B3C4C;
  border: 0px;
  height: 8px;
  border-radius: 20px;
}

input[type=range]::-moz-range-thumb {
  height: 22px;
  width: 5.5px;
  background: #2B3C4C;
  cursor: pointer;
  -moz-appearance: none;
  margin-top: -10px;
  border-radius: 0px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  height: 22px;
  width: 5.5px;
  background: #2B3C4C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 20px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2B3C4C;
}

input[type=range]::-ms-fill-upper {
  background: #2B3C4C;
  border: 0.2px solid #9b9b9b;
  border-radius: 20px;
}

input[type=range]:focus::-ms-fill-upper {
  background: #9b9b9b;
}

.chsCalls {
  flex: 1;
  font-size: 14px;
  line-height: 17px;
  color: #4A4A4A;
  /*margin: 10px 30px auto 20px;*/
  margin: 0px 10px;
}

.chsCalls .tick {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  margin: auto 4px;
  width: 20px;
  height: 20px
}

.chsCalls .tick:hover {
  cursor: pointer;
}

/* Enabled optimisation button style */
.optButton {
  flex: 1;
  width: 146px;
  color: #4A4A4A;
  background-color: #FAFAFA;
  border: 1px solid #979797;
  font-size: 13px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0 20px;
  align-self: center;
}

.optButton.btnDisabled {
  color: #d7dce0;
  background-color: #FAFAFA;
  border: 1px solid #d7dce0;
  pointer-events: none;
}

.optButton.optBtnPledge {
  color: #fff;
  background-color: #00B9CC;
  border-color: #00B9CC;
}

.optButton:hover {
  cursor: pointer;
}

.sliderAndStatus{
  display: flex;
  align-items: flex-start;
}

#pleStatus {
  margin: 20px 20px 30px 20px;
  flex: 1;
}

#pleStatus .panelTitle {
  font-size: 24px;
  line-height: 29px;
}

.flexContainer{
  display: flex;
}

.col_L,
.col_R {
  margin: 15px;
}

.markings {
  width: 99.8%;
  display: flex;
  margin-left: 0.5%;
  margin-top: -5.5px;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@-moz-document url-prefix() {
  .markings {
    margin-left: 2.4%;
    margin-top: -4%;
  }
}

.marking {
  flex: 1;
  flex-grow: 1;
  font-size: 20px;
  /*font-family: "Arial Black";*/
  color: #9b9b9b;
  position: relative;
  left: 1px;
}

.miniMarking {
  margin-top: 3px;
  flex: 1;
  flex-grow: 1;
  font-size: 8px;
  font-family: "Arial Black";
  color: #9b9b9b;
  position: relative;
  left: 1px;
}

.markingLast {
  flex-grow: 0;
  font-size: 20px;
  /*font-family: "Arial Black";*/
  color: #9b9b9b;
}

.buttonHolder{
  display: flex;
  padding: 40px 0 20px;
}



.collateral_LabelBar{
  display: flex;
  position: relative;
  background-color: #001f2d;
  color: #ffffff;
  padding: 7px 8px 0px 30px;
  /*font-size: 20px;*/
  vertical-align: middle;
  /*-webkit-box-shadow: 0px 2px 0px 0 #c9c9c9;*/
  /*box-shadow: 0px 2px 0px 0 #c9c9c9;*/
}

.collateral_LabelBar > div{
  flex: 1;
  flex-grow: 1;
  padding: 2px 5px 5px 2px;

}
.collateral_Header{
  display: flex;
  position: relative;
  padding: 7px 8px 0px 5px;
  margin-top: 3px;
  background-color: #7F8A93;
  color: #ffffff;
}

.centerThis{
  /*display: table-cell;*/
  vertical-align: middle;
  padding-left: 5px;
}

.imageRight{
  /*display: block;*/
  position: absolute;
  right: 10px;
  /*padding-left: 50px;*/

}

.expandDivL{
  flex: 6;
}

.minDivL{
  flex: 3;
}

.expandDivR{
  flex: 7;
}

.minDivR{
  flex: 4;
}

.hideCol{
  display: none;
}

.showCol{
  display: block;
}

.showL{
  display: inherit;
}

.hideL{
  display: none;
}

.showR{
  display: inherit;
}

.hideR{
  display: none;
}

/*** Collateral Table ***/

.collateralTable {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  width: 100%;
  table-layout: fixed;
}

.collateralRow {
  display: table-row;
  background: #f6f6f6;
  text-overflow: ellipsis;
  overflow:hidden;
  font-size: 75%;
  padding-top: 2px;
}

.collateralRowGroup{
  display: table-row-group;
}

.collateralHeader {
  color: #ffffff;
  background: #2B3C4C;
  padding: 7px 8px 7px 8px;
  height: 38px;
  vertical-align: middle;
  border-top:5px solid green;
  composes: baseFontBold from '../../static/css-components/fonts.css';
}

.collateralExpandRow{
  background: #7F8A93;
  line-height: 12px;
  color: #ffffff;
  text-transform: capitalize;
}

.collateralExpandEarmarkedRow{
  background: #4E83B5;
  line-height: 12px;
  color: #ffffff;
  text-transform: capitalize;
}

.collateralCell {
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  height: 16px;
}

.collateralExpandRow > .collateralCell,
.collateralExpandEarmarkedRow > .collateralCell{
  border-top-style: solid;
  border-top-width:3px;
  border-top-color:#FFFFFF;
}

.collateralExpandRow > .collateralCell > div,
.collateralExpandEarmarkedRow > .collateralCell > div{
  display: inline-block;
  padding-right: 2px;
  vertical-align: middle;
}

/*Asset*/
div.collateralTableCollapse div:nth-child(1){
  width: 25%;
}
/*Price*/
div.collateralTableCollapse div:nth-child(2){
  width: 17%;
}
/*CCY*/
div.collateralTableCollapse div:nth-child(3){
  width: 10%;
}
/*Delivery Time*/
div.collateralTableCollapse div:nth-child(4){
  width: 10%;
}
/*Status*/
div.collateralTableCollapse div:nth-child(5){
  width: 10%;
}
/*Rating*/
div.collateralTableCollapse div:nth-child(6){
  width: 10%;
}
/*Maturity Date*/
div.collateralTableCollapse div:nth-child(7){
  width: 18%;
}


/*Asset*/
div.collateralTableExpanded div:nth-child(1){
  width: 19%;
}
/*Price*/
div.collateralTableExpanded div:nth-child(2){
  width: 11%;
}
/*CCY*/
div.collateralTableExpanded div:nth-child(3){
  width: 4%;
}
/*Delivery Time*/
div.collateralTableExpanded div:nth-child(4){
  width: 6%;
}
/*Status*/
div.collateralTableExpanded div:nth-child(5){
  width: 8%;
}
/*Rating*/
div.collateralTableExpanded div:nth-child(6){
  width: 6%;
}
/*Maturity Date*/
div.collateralTableExpanded div:nth-child(7){
  width: 6%;
}
/*Internal Cost*/
div.collateralTableExpanded div:nth-child(8){
  width: 7%;
}
/*External Cost*/
/*div.collateralTableExpanded div:nth-child(9){*/
  /*width: 4%;*/
/*}*/
/*Opportunity Cost*/
div.collateralTableExpanded div:nth-child(9){
  width: 8%;
}
/*ISIN*/
div.collateralTableExpanded div:nth-child(10){
  width: 10%;
}
/*Venue*/
div.collateralTableExpanded div:nth-child(11){
  width: 8%;
}
/*Acc ID*/
div.collateralTableExpanded div:nth-child(12){
  width: 8%;
}

/* Center align for columns(not header or group header) */
/*.collateralRowGroup > .collateralRow > div:nth-child(8),*/
/*.collateralRowGroup > .collateralRow > div:nth-child(9) {*/
  /*text-align: center;*/
/*}*/
.collateralTable .collateralRow > div:nth-child(8),
.collateralTable .collateralRow > div:nth-child(9) {
  text-align: center;
}

/*** END ***/

/* css for pop ups when clicked on assets--------------> */

.boxed {
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 5px;
  padding: 5px 6px 5px 5px;
  /*padding-top: 5px;*/

  z-index: 1;
  top: -5px; /* set top value */
  left: 0px; /* set left value */
  width:350px;
  border: 1px solid #1c2124;
  display: none;
  position: absolute;
  background-color: #ffffff;
}
/*.boxed:before{*/
  /*content: '';*/
  /*display: block;*/
  /*position: absolute;*/
  /*right: 100%;*/
  /*top: 20%;*/
  /*margin-top: -10px;*/
  /*border-top: 8px solid transparent;*/
  /*border-right: 12px solid #000;*/
  /*border-bottom: 8px solid transparent;*/
  /*border-left: 11px solid transparent;*/
/*}*/
/*.boxed:after{*/
  /*content: '';*/
  /*display: block;*/
  /*position: absolute;*/
  /*right: 99%;*/
  /*top: 24%;*/
  /*margin-top: -10px;*/
  /*border-top: 7px solid transparent;*/
  /*border-right: 12px solid #ffffff;*/
  /*border-bottom: 8px solid transparent;*/
  /*border-left: 6px solid transparent;*/
/*}*/

.leftBoxed {
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 5px;
  padding: 5px 6px 5px 5px;
  /*padding-top: 5px;*/

  z-index: 1;
  top:-5px; /* set top value */
  left:-344px; /* set left value */
  width:350px;
  border: 1px solid #1c2124;
  display: none;
  position: absolute;
  background-color: #ffffff;
}
/*.leftBoxed:before{*/
  /*content: '';*/
  /*display: block;*/
  /*position: absolute;*/
  /*right: -16%;*/
  /*top: 20%;*/
  /*margin-top: -10px;*/
  /*border-top: 8px solid transparent;*/
  /*border-left: 12px solid #000;*/
  /*border-bottom: 8px solid transparent;*/
  /*border-right: 11px solid transparent;*/
/*}*/
/*.leftBoxed:after{*/
  /*content: '';*/
  /*display: block;*/
  /*position: absolute;*/
  /*right: -11%;*/
  /*top: 24%;*/
  /*margin-top: -10px;*/
  /*border-top: 7px solid transparent;*/
  /*border-left: 12px solid #ffffff;*/
  /*border-bottom: 8px solid transparent;*/
  /*border-right: 6px solid transparent;*/
/*}*/


.boxAllocate {
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 5px;
  padding: 5px 5px 5px 5px;
  /*padding-top: 5px;*/

  z-index: 2;
  top:-80px; /* set top value */
  left:-6px; /* set left value */

  min-width:350px;
  min-height:130px;

  border: 1px solid #1c2124;
  display: none;
  position: absolute;
  background-color: #ffffff;
}

.leftBoxAllocate {
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 5px;
  padding: 5px 5px 5px 5px;
  /*padding-top: 5px;*/

  z-index: 2;
  top:-80px; /* set top value */
  left:-226px; /* set left value */

  min-width:350px;
  min-height:130px;

  border: 1px solid #1c2124;
  display: none;
  position: absolute;
  background-color: #ffffff;
}

.showBox{
  display: block;
  cursor: default;
}

.relative{
  position: relative;
  cursor: pointer;
}

/* css for allocate asset pop up-------------->*/
.popupAllocateRoot{
  font-size:13px;
  composes: baseFont from './../../static/css-components/fonts.css';
  padding: 0 5px;
  /*margin-top: 12px;*/
}

.popupRow{
  display:flex;
  padding:5px 5px;
}

.popupText{
  /*width: 145px;*/
  align-self: center;
  flex: 2;
  padding: 3px 5px;
  display: inline-block;
  text-align: right;
}

.popupInputBox{
  display: inline-block;
  flex: 4;
  min-height: 26px;
  width: 98%;
  position: relative;
}

.popupInputBox input{
  text-indent: 5px;
}

.buttonContainer{
  width: 100%;
  margin: 5px 0;
  text-align: right;
}

/*.buttonContainerEnabled{*/
  /*width: 100%;*/
  /*margin-top: 10px;*/
/*}*/

.buttonContainer .btnDisabled {
  width: 100px;
  /*height: 32px;*/
  color: #d7dce0 ;
  background-color: #FAFAFA ;
  border: 1px solid #d7dce0 ;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  align-self: center;
}

.buttonContainer .btnEnabled {
  width: 100px;
  color: #fff ;
  background-color: #118A17 ;
  border: 1px solid #118A17 ;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  align-self: center;
  cursor: pointer;
}

/*** Status Color classes****/
.statusAR{
  background: #58C4F5;
  color: #FFFFFF;
  /*width: 20px;*/
  height: 14px;
  display: block;
  border-radius: 2px;
  padding-top: 2px;
  margin-top: 3px;
  margin-bottom: 1px;
  text-align: center;
}
.statusAV{
  background: #005544;
  color: #FFFFFF;
  /*width: 20px;*/
  height: 14px;
  display: block;
  border-radius: 2px;
  padding-top: 2px;
  margin-top: 3px;
  margin-bottom: 1px;
  text-align: center;
}
.statusDP{
  background: #00B38F;
  color: #FFFFFF;
  /*width: 20px;*/
  height: 14px;
  display: block;
  border-radius: 2px;
  padding-top: 2px;
  margin-top: 3px;
  margin-bottom: 1px;
  text-align: center;
}
.statusD{
  background: #4E83B5;
  color: #FFFFFF;
  /*width: 20px;*/
  height: 14px;
  display: block;
  border-radius: 2px;
  padding-top: 2px;
  margin-top: 3px;
  margin-bottom: 1px;
  text-align: center;
}
/*** End ***/

/*** New changes ***/
.tabHolder {
  position: relative;
}

.tab {
  display: inline-block;
  composes: baseFontBold from './../../static/css-components/fonts.css';
  padding: 5px 0px 3px 0px;
  margin: 0px 5px;
  color: #A9A9A9;
  cursor: pointer;
}

.closeButton {
  color: #585858;
  float: right;
  font-size: 15px;
  padding: 0px 5px;
  cursor: pointer;
}

.selectedTab{
  color: #4C81B1;
  border-bottom: 3px solid #4C81B1;
}

.tabbedContent {
  display: none;
  padding: 5px;
}

.showContent {
  display: block;
}

.removeAsset {
  text-align: center;
  padding-top: 10px;
}

.removeAsset .btnEnabled{
  color: #585858;
  background-color: #fff;
  border-color: #585858;
}

.helperText{
  color: #989898;
  font-style: italic;
}

.errorPopUp {
  position: absolute;
  background-color: #fff;
  top: -8px;
  padding: 5px;
  border: 1px solid #AB0017;
  border-radius: 5px;
  color: #AB0017;
}

.errorPopUp::before{
  position: absolute;
  content: '';
  border-bottom: 9px solid #AB0017;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  top: -9px;
  left: 6px;
}

.errorPopUp::after{
  position: absolute;
  content: '';
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -8px;
  left: 7px;
}

.cursorPointer {
  cursor: pointer;
}
