.popupContainer {
    position: absolute;
    top: 0; left: 0;
    width: calc(100% - 20px);
    height: 890px;
    background-color: #FAFAFA;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
    border: 1px solid #9B9B9B;
    border-radius: 8px;
    z-index: 50;
    padding: 10px 10px 0 10px;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.showPopup {
    display: block;
}

.closeBtn {
    color: #4A4A4A;
    font-size: 1.5em;
    cursor: pointer;

    /*as flex parent*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    /*as flex child of .popupContainer*/
    flex: 1 0 auto;

}

.portfolioContainer {
    /*height: 50%;*/
    margin-top: 35px;

    /*as flex parent*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*as flex child of .popupContainer*/
    flex: 4 0 auto;
}
