@value newAcuoBlue from '../../static/css-components/colors.css';

.container{
  margin: 2% 1%;
  background-color: #FFFFFF;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
  border-radius: 8px;
  /*min-height: 410px;*/
  /*display: inline-block;*/
  /*width: 97%;*/
  min-width: 1400px;
  padding: 10px;
  position: relative;
}

.hidden {
  display: none;
}

.header{
  display: flex;
  margin-bottom: 10px;
}

.title{
  flex: 3;
  composes: baseFontBold from '../../static/css-components/fonts.css';
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: newAcuoBlue;
  align-self: center;
}

.button{
  color: #fff ;
  background-color: #00B9CC ;
  border: 1px solid #00B9CC ;
  font-size: 18px;
  composes: baseFontBold from '../../static/css-components/fonts.css';
  text-align: center;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  align-self: center;
  cursor: pointer;
  padding: 10px 24px;
}

/*table stylings*/
.content{
  border: 1px solid #2C3B4A;
}

.masterRow{
  display: flex;
  background-color: #2C3B4A;
  color: #fff;
}

.cell{
  /*flex: 0 0 6.6%;*/
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
  padding: 5px;
}

.cell:first-child, .cell:last-child{
  flex: 0 0 1.5%;
  text-align: center;
}

/* overriding css*/
.ccyCell{
  flex: 0 0 3%;
}

.largeCell{
  flex: 0 0 8.5%;
}

.dateCell{
  flex: 0 0 6%;
}

.callTypeCell{
  flex: 0 0 5%;
}

.boldCellText {
  composes: baseFontBold from './../../static/css-components/fonts.css';
}

.clickableCell {
  cursor: pointer;
}

/*content*/
.flexContainer{
  color: #2C3B4A;
  display: flex;
}

.groupContainer:nth-child(odd) {
  background-color: #DCEEFF;
}

.groupContainer:nth-child(even) {
  background-color: #EEEEEE;
}

.headerRow{
  background-color: #4E83B5;
  color: #fff;
  composes: baseFontBold from '../../static/css-components/fonts.css';
  display: flex;
  width: 100%;
}

.subrow{
  display: none;
}

.showSubrow{
  display: block;
}

.subrowContent{
  display: flex;
  background-color: #FFFFFF;
}

.subrowCell{
  flex: 0 0 16.5%;
  padding: 10px;
  align-self: center;
}

/* arrow */
.contentRow .cell:last-child,
.contentRowExpand .cell:last-child{
  position: relative;
  cursor: pointer;
}

.contentRow .cell:last-child::before{
  content: '';
  position: absolute;
  border-top: 12px solid #2C3B4A;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: 0px;
  left: 7px;
}

.contentRow .cell:last-child::after{
  content: '';
  position: absolute;
  border-top: 12px solid #2C3B4A;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -3px;
  left: 7px;
}

.groupContainer:nth-child(odd) .contentRow .cell:last-child::after{
  border-top: 12px solid #DCEEFF;
}

.groupContainer:nth-child(even) .contentRow .cell:last-child::after{
  border-top: 12px solid #EEEEEE;
}

/************* Up triangle after expansion *************/
.contentRowExpand .cell:last-child::before{
  content: '';
  position: absolute;
  border-bottom: 12px solid #2C3B4A;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -3px;
  left: 7px;
}

.contentRowExpand .cell:last-child::after{
  content: '';
  position: absolute;
  border-bottom: 12px solid #2C3B4A;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 0px;
  left: 7px;
}

.groupContainer:nth-child(odd) .contentRowExpand .cell:last-child::after{
  border-bottom: 12px solid #DCEEFF;
}

.groupContainer:nth-child(even) .contentRowExpand .cell:last-child::after{
  border-bottom: 12px solid #EEEEEE;
}

/************* Up triangle after expansion *************/

/************* valuation in progress ************/

.loadingContainer {
  flex: 1;
  align-self: center;
  margin: 100px auto;
}

.loadingText {
  text-align: center;
  color: #8CA7C0;
  font-size: 18px;
}

.loadingBar {
  width: 220px;
  overflow: hidden;
  height: 7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #D5DADF;
  position: relative;
  margin: 10px auto;
}

.loadingBar .spinner {
  background-color: #6589AB;
  height: 7px;
  width: 33px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-animation: scroll-animation 1.2s ease-in-out 0s infinite; /* Safari 4+ */
  -moz-animation:    scroll-animation 1.2s ease-in-out 0s infinite; /* Fx 5+ */
  -o-animation:      scroll-animation 1.2s ease-in-out 0s infinite; /* Opera 12+ */
  animation:         scroll-animation 1.2s ease-in-out 0s infinite; /* IE 10+, Fx 29+ */
  position: absolute;
  left: -33px;
}a

@-webkit-keyframes scroll-animation {
  0%   { left: -33px; }
  100% { left: 220px; }
}
@-moz-keyframes scroll-animation {
  0%   { left: -33px; }
  100% { left: 220px; }
}
@-o-keyframes scroll-animation {
  0%   { left: -33px; }
  100% { left: 220px; }
}
@keyframes scroll-animation {
  0%   { left: -33px; }
  100% { left: 220px; }
}