/*.unmatchedTable {
    display: table;
    width: 100%;
    margin: 5px -1px;
    border: 1px solid #D5DADF;
}*/

/*.unmatchedTableHeader {
    display: table-row;
    font-size: 14px;
    composes: baseFontBold from '../../../static/css-components/fonts.css';
    line-height: 17px;
    color: #6389AD;
}*/

/*.unmatchedTableRow {
    display: table-row;
    font-size: 13px;
    line-height: 16px;
    color: #4A4A4A;
}*/

/*.unmatchedTableCell {
    display: table-cell;
    padding: 5px;
}*/

/*.unmatchedTableHeader > .unmatchedTableCell {
    border-bottom: 1px solid #D5DADF;
}*/

/*.unmatchedTableRow > .unmatchedTableCell {
    background-color: #FFFFFF;
}*/

.tableGroup{
 /* As flex child of .compContainer */
 width: 100%;
 height: 350px;
 /*flex: 2 0 auto;*/

 /* As flex parent */
 display: flex;
 flex-direction: column;
 justify-content: flex-start;

 overflow-y: scroll;

 border: 1px red dashed;
}
.headerRow{
 width: 100%;
 /*As flex child of tableGroup*/
 /*flex: 1 0 0;*/
 /* As flex parent */
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 align-content: stretch;

 font-size: 14px;
 composes: baseFontBold from '../../../static/css-components/fonts.css';
 line-height: 17px;
 color: #6389AD;
}
.headerCell{
 display: flex;
 /*flex: 0 0 auto;*/
 /*display: inline-block;*/
}
.headerRow > .headerCell{

}

.rowGroup{
 /*As flex child of tableGroup*/
 /*flex: 4 0 0;*/

 height: auto;
 overflow-y: scroll;
 /*height: 270px;*/

 /*border: 1px blue dashed;*/
}
.row{
 width: 100%;

 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 align-content: stretch;

 font-size: 13px;
 line-height: 16px;
 color: #4A4A4A;
}
.rowCell{
 display: flex;
 /*flex: 0 0 auto;*/
 /*display: inline-block;*/
}
