.assetsComponent{
    display: flex;
    flex-direction: row;
    padding: 30px 10px 0 10px;
    position: relative;
}

.assetsPanels{
 width: calc(100% / 2);
 padding: 0 10px;
}

.assetsPanelDeployed{
 padding: 0 10px;
 width: 75%
}
.assetsPanelHome{
 padding: 0 10px;
 width: 25%
}
