.agreeRow {
  color: #272727;
  background-color: #dceeff;
  display: flex;
  font-size: 14px;
  line-height: 17px;
}

.agreeHeaderRow {
  color: #272727;
  background-color: #eee;
}

.agreeRow div {
  padding: 5px;
}

.agreeRow div:nth-child(1) {
  flex-basis: 22.5%;
}

.agreeRow div {
  flex-basis: 10%;
}

.agreeRow div:nth-child(6),
.agreeRow div:nth-child(7){
  flex-basis: 7%;
}

.agreeRow div:last-child {
  flex-basis: 1.5%;
}

.boldText {
  composes: baseFontBold from '../../../static/css-components/fonts.css';
}