.variableCheckboxContainer {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #2C3B4A;
  border-radius: 2px;
  padding: 0 8px 0 3px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  min-width: 30px;
  line-height: 27px;
  height: 27px;
  position: relative;
}

.checkboxArrowContainer{
  height: 27px;
  display: inline-block;
  min-width: 40px;
}

.checkboxImg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow{
  min-width: 10px;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow::before{
  content: '';
  border-top: 5px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: -9px;
  left: 5px;
}

.list {
  display: none;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  cursor: default;
  margin: 0;
  outline: none;
  padding: 3px 0;
  position: absolute;
  top: 27px;
  left: 0px;
  z-index: 100;
}

.list.show{
  display: inline-block;
}

.listItem {
  margin: 0;
  padding: 3px 2em 3px 20px;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
  color: #494949;
}

.listItem:hover {
  background-color: #eee;

}