@value acuoAction from './../../css-components/colors.css';

table{
  width: 100%;
  table-layout:fixed;
  margin-bottom: 10px;
}
table tr th,
table tr td{
  padding: 25px 0px 25px 30px;
  text-align: left;
  border: 0;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.marginLeft{
  padding-left:4%;
}
.head{
  flex-wrap: nowrap;
  width:100%;
  background-color: rgba(78,131,181,0.7);
  padding: 15px 20px;
  color: #fff;
}
.tableBody{
  max-height:0;
  width: 100%;
}
.table{
  background-color: #D1D6DC;
}
.arrowRight{
  position: relative;
  flex: 2;
  flex-grow: 1;
}
.arrowRight::before{
  content: '';
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top:25.6%;
  left:-10%;
}
.arrowRight::after{
  content: '';
  border-top: 10px solid transparent ;
  border-left: 10px solid acuoAction;
  border-bottom: 10px solid transparent;
  position: absolute;
  top:25.6%;
  left:-23.3%
}
.actionHeader{
  height: 40px;
  width: 150px;
  font-size: 11px;
  background-color:acuoAction;
  font-weight:normal;
  text-align: left;
  display: flex;
}
.action{
  padding: 10px 15px;
  align-content: center;
  flex: 1;
  flex-grow: 2;
}
.items{
  padding:5px
}
