/*---Default---*/
.ColGroup{
 border-collapse: collapse;
 display: flex;
 flex: 0 0 auto;

 flex-direction: column;
 }

.RowGroup{
 border-collapse: collapse;
 display: flex;
 flex: 0 0 auto;

 flex-direction: row;
 }

.Row{
 display: flex;
 flex-direction: row;
 flex: 1 0 auto;
}

.DataRowCell{
 display: flex;
 flex-direction: row;
 align-items: center;
 font-size: 13px;
 line-height: 16px;
 padding-left: 5px;
}

.CellVisibleNoBreak {
 white-space: nowrap;
 text-overflow: ellipsis;
}
.CellVisible {
 text-overflow: visible;
 overflow-wrap: normal;
 word-break: keep-all;
}

.CellEllipsis {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/* ----- AssetsDeployedTableView ----- */
/*Navbars*/
.RegCptyColGroupStyle{
 border-right: 1px white solid;
}

.DataBlock{
 padding-bottom: 2px;
 border-bottom: 1px solid #979797;
}

.DataRow{
 border-bottom: 1px solid #979797;
 margin-bottom: 2px;
 -webkit-transition: background-color 250ms linear;
 -moz-transition: background-color 250ms linear;
 -o-transition: background-color 250ms linear;
 transition: background-color 250ms linear;

}
.DataRow:hover{
 background-color: #e5e5e5;
}

.RegCptyHead{
   background-color: #2b3c4c;
   color: white;
   border-right: 1px solid white;
   text-indent: 3px;
}
.VarMarginHead{
   background-color: #4e83b5;
   color: white;
}
.InitMarginHead{
   background-color: #315271;
   color: white;
}

/* ----- AssetsHomeTableView ----- */
.PrincipalPledgeHead{
 background-color: #2b3c4c;
 color: white;
 border-right: 1px solid white
}

/* --- Tooltip Text --- */
/*.tooltip{
 position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    border: 1px solid gray;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.7);
}*/
