/*---Default---*/
.ColGroup{
 border-collapse: collapse;
 display: flex;
 flex: 0 0 auto;

 flex-direction: column;
 }

.RowGroup{
 border-collapse: collapse;
 display: flex;
 flex: 0 0 auto;

 flex-direction: row;
 }

.Row{
 display: flex;
 flex-direction: row;
 flex: 1 0 auto;
}

.DataRowCell{
 display: flex;
 flex-direction: row;
 align-items: center;
 font-size: 13px;
 line-height: 16px;
 padding-left: 3px;
 /*text-indent: 5px;*/
}

.CellVisibleNoBreak {
 white-space: nowrap;
 text-overflow: ellipsis;
}
.CellVisible {
 text-overflow: visible;
 overflow-wrap: normal;
 word-break: keep-all;
}

.CellEllipsis {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/* ----- AssetsDeployedTableView ----- */
/*Navbars*/
.RegCptyColGroupStyle{
 border-right: 1px white solid;
}

.DataBlock{
 padding-bottom: 2px;
 border-bottom: 1px solid #979797;
}

.DataRow{
 border-bottom: 1px solid #979797;
 -webkit-transition: background-color 250ms linear;
 -moz-transition: background-color 250ms linear;
 -o-transition: background-color 250ms linear;
 transition: background-color 250ms linear;

}
.DataRow:hover{
 background-color: #e5e5e5;
}
.DataRow:active{
 background-color: #c3ddf5;
}

.RegCptyHead{
   background-color: #2b3c4c;
   color: white;
   border-right: 1px solid white;
   padding: 0;
   font-weight: bold;
}
.VarMarginHead{
   background-color: #4e83b5;
   color: white;
   font-weight: bold;
}
.VarMarginPledgeRow{
   background-color: #4e83b5;
   color: white;
   font-weight: bold;
   margin-top: 2px;
}
.VarMarginExcessRow{
   background-color: #4e83b5;
   color: white;
   font-weight: bold;
}
.InitMarginHead{
   background-color: #315271;
   color: white;
   font-weight: bold;
}
.InitMarginPledgeRow{
 background-color: #315271;
 color: white;
 font-weight: bold;
 margin-top: 2px;
}
.InitMarginExcessRow{
 background-color: #315271;
 color: white;
 font-weight: bold;
}

/* ----- AssetsHomeTableView ----- */
.PrincipalPledgeHead{
 background-color: #2b3c4c;
 color: white;
 border-right: 1px solid white
}
