div.componentStyle {
    background-color: #FFFFFF;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
}

.alignFileIconLeft {
    float: left;
}

.buttonContainer {
    margin: 10px;
    text-align: right;
}

.buttonContainer button {
    width: 82px;
    height: 32px;
    background-color: #008B04;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.fileName {
    background-color: #FAFAFA;
    border: 1px solid #979797;
    border-radius: 8px;
}

.fileNameText{
    font-family: Helvetica;
    font-size: 14px;
    color: #4A4A4A;
}

.hide {
    display: none;
}