.compContainer {
    margin-top: 20px;
    height: 430px;
    /* As flex child of .popupContainer*/
    flex: 5 0 auto;

    background-color: #FAFAFA;
    border: 1px solid #D5DADF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.compHeader {
    font-size: 18px;
    composes: baseFontBold from '../../static/css-components/fonts.css';
    line-height: 22px;
    color: #4A4A4A;
    margin-right: 20px;
    margin-left: 10px;
}

.searchLabel {
    font-size: 13px;
    line-height: 16px;
    color: #4A4A4A;
}

.flexCont {
  width: 100%;
  height: 50px;
  /*As flex child of .compContainer*/
  /*flex: 1 0 auto;*/

  /*As flex parent*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.searchInput {
    width: 218px;
    height: 27px;
    font-size: 16px;
}

.searchCont {
    align-self: center;
}

.buttonContainer {
  width: 100%;
  text-align: right;
}

.okButton {
    width: 82px;
    height: 32px;
    background-color: #008B04;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.okButtonDisabled {
    width: 82px;
    height: 32px;
    background-color: grey;
    border-radius: 20px;
    color: white;
    cursor: not-allowed;
}
