.compContainer {
    margin-top: 20px;
    height: 430px;
    /* As flex child of .popupContainer*/
    flex: 5 0 auto;

    background-color: #FAFAFA;
    border: 1px solid #D5DADF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.compHeader {
    font-size: 18px;
    composes: baseFontBold from '../../static/css-components/fonts.css';
    line-height: 22px;
    color: #4A4A4A;
    margin-right: 20px;
    margin-left: 10px;
}

.searchLabel {
    font-size: 13px;
    line-height: 16px;
    color: #4A4A4A;
}

.flexCont {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  /*As flex child of .compContainer*/

  /*As flex parent*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.searchInput {
    width: 218px;
    height: 27px;
    font-size: 16px;
}

.searchCont {
    align-self: center;
}

.buttonContainer {
  width: 100%;
  text-align: right;
  margin: 5px 0;
}

.okButton, .okButtonDisabled  {
    width: 82px;
    height: 30px;
    margin: 5px 5px 5px 0 ;
    background-color: #008B04;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.okButtonDisabled {
    background-color: grey;
    cursor: not-allowed;
}

.closeBtn {
  color: #4A4A4A;
  font-size: 1.5em;
  cursor: pointer;

  /*as flex parent*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  /*as flex child of .popupContainer*/
  flex: 1 0 auto;
  padding-right: 15px;
  align-self: self-end;
}