.compContainer {
    margin-top: 20px;
    /* As flex child of .popupContainer*/
    flex: 5 0 50%;

    background-color: #FAFAFA;
    border: 1px solid #D5DADF;
    border-radius: 8px;
}

.compHeader {
    font-size: 18px;
    composes: baseFontBold from '../../static/css-components/fonts.css';
    line-height: 22px;
    color: #4A4A4A;
    margin-right: 20px;
    margin-left: 10px;
}

.searchLabel {
    font-size: 13px;
    line-height: 16px;
    color: #4A4A4A;
}

.flexCont {
    display: flex;
    flex: 1 0 auto;
}

.searchInput {
    width: 218px;
    height: 27px;
    font-size: 16px;
}

.searchCont {
    align-self: center;
}

.buttonContainer {
    margin: 10px;
    text-align: right;
}

.buttonContainer button {
    width: 82px;
    height: 32px;
    background-color: #008B04;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.hide {
    display: none;
}
